<!DOCTYPE html>
{% load static %}
<html class="wow-animation" lang="pt-br">
    <head>
        <title>SK Imoveis</title>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="keywords" content="intense web design multipurpose template">
        <meta name="date" content="Dec 26">
        <script src="{% static 'cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js' %}">
        </script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <script src="https://code.iconify.design/1/1.0.1/iconify.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:400,700'">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
    </head>
    {% block content %}
    {% endblock content %}
</html>