<!DOCTYPE html>{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css-login/css-login.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

</head>

<body>
        <header>
                <div class="overlay"></div>
                <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                  <source src="{% static 'media/video-login.mp4' %}" type="video/mp4">
                </video>
                <div class="container h-100">
                  <div class="d-flex text-center h-100">
                    <div class="my-auto w-100 text-white">
                      

                      <div class="container">
                        <div class="row">
                          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                            <div class="card card-signin my-5">
                              <div class="card-body">
                                <h5 class="card-title text-center">Sistema de Gestão Imobiliaria</h5>
                                <form class="form-signin" method="POST" action="entrar/">
                                    {% csrf_token %}
                                  <div class="form-label-group">
                                    <input type="email" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                                    <label for="inputEmail">Informe seu E-mail</label>
                                  </div>
                    
                                  <div class="form-label-group">
                                    <input type="password" name="inputPassword" class="form-control" placeholder="Password" required>
                                    <label for="inputPassword">Informe sua senha</label>
                                  </div>
                    
                                  
                                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Entrar</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </header>


              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" defer></script>
</body>

</html>