{% extends "base-sistema.html" %}



{% block conteudo-sistema %}

<section class="content-header">
  <h1>
    Sistema de Gestão Imobiliaria
    <small>Alterar informações do usuario: {{usuario.nome}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Cadastro</a></li>
    <li class="active">Alterar usuario</li>
  </ol>
</section><br><br>




<!--MODEL USUARIO-->



        <form role="form" method="POST" action="">
          {% csrf_token %}
          <div class="box-body">
            <div class="form-group">
              <input type="text" class="form-control" name="nome" placeholder="Nome do usuario" value="{{ usuario.nome }}">
            </div>

            <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Infomem um E-mail" value="{{ usuario.email }}">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" name="senha" placeholder="Informe uma senha" value="{{ usuario.senha }}">
            </div>


          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar informações</button>
          </div>
        </form>
      


{% endblock %}