{% extends "base-sistema.html" %}

{% block conteudo-sistema %}



<div class="row">
  <div class="col-md-4">
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>Cadastrar clientes</h3>

        <p>Clique no botão abaixo para iniciar o cadastros de novos clientes</p>
      </div>

      <a href="#" data-toggle="modal" data-target="#modal-default" class="small-box-footer">Abrir formulario de
        cadastro <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>Cadastrar Imoveis</h3>

        <p>Clique no botão abaixo para iniciar o cadastros de novos imoveis</p>
      </div>

      <a href="#" data-toggle="modal" data-target="#modal-imoveis" class="small-box-footer">Abrir formulario de cadastro <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>Cadastrar usuarios</h3>

        <p>Clique no botão abaixo para iniciar o cadastros de novos usuarios</p>
      </div>

      <a href="#" data-toggle="modal" data-target="#modal-usuario" class="small-box-footer">Abrir formulario de
        cadastro <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
</div>




<div class="box">
    <div class="box-header">
      <h3 class="box-title">Lista de CLientes</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table id="example2" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Nome</th>
          <th>Idade</th>
          <th>Contato</th>
          <th>Email</th>
          <th>CEP</th>
          <th>Endereço</th>
          <th>RG</th>
          <th>CPF</th>
          <th>Descrição</th>
        </tr>
        </thead>
        <tbody>

          {% for cliente in clientes %}
          <tr>
              <td>{{cliente.nome}}</td>
              <td>{{cliente.idade}}</td>
              <td>{{cliente.celular}}</td>
              <td>{{cliente.email}}</td>
              <td>{{cliente.cep}}</td>
              <td>{{cliente.endereco}}</td>
              <td>{{cliente.rg}}</td>
              <td>{{cliente.cpf}}</td>
              <td>{{cliente.descricao}}</td>
            
            </tr>
          {% endfor %}


        </tbody>
   
      </table>
    </div>
    <!-- /.box-body -->
  </div>



  <div class="box">
      <div class="box-header">
        <h3 class="box-title">Lista de Imoveis</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example3" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Nome do responsavel</th>
            <th>Contato</th>
            <th>CEP</th>
            <th>Endereço</th>
            <th>Valor da compra</th>
            <th>valor do aluguel</th>
            <th>Descrição do imovel</th>
          </tr>
          </thead>
          <tbody>
  
            {% for imovel in imoveis %}
            <tr>
                <td>{{imovel.nome_responsavel}}</td>
                <td>{{imovel.celular_responsavel}}</td>
                <td>{{imovel.endereco}}</td>
                <td>{{imovel.cep}}</td>
                <td>{{imovel.valor_compra}}</td>
                <td>{{imovel.valor_aluguel}}</td>
                <td>{{imovel.descricao_imovel}}</td>
              </tr>
            {% endfor %}
  
  
          </tbody>
     
        </table>
      </div>
      <!-- /.box-body -->
    </div>




    <div class="box">
        <div class="box-header">
          <h3 class="box-title">Lista de Usuarios</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example3" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
            </tr>
            </thead>
            <tbody>
    
              {% for usuario in usuarios %}
              <tr>
                  <td>{{usuario.nome}}</td>
                  <td>{{usuario.email}}</td>
                </tr>
              {% endfor %}
    
    
            </tbody>
       
          </table>
        </div>
        <!-- /.box-body -->
      </div>
























<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Cadastrar novo cliente</h4>
      </div>
      <div class="modal-body">

        <form role="form" method="POST" action="incluir-clientes/">
          {% csrf_token %}
          <div class="box-body">
            <div class="form-group">
              <input type="text" class="form-control" name="nome" placeholder="nome do cliente">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="idade" placeholder="Idade">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" name="celular" placeholder="Celular">
            </div>

            <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="E-mail">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" name="cep" placeholder="CEP">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" name="endereco" placeholder="Endereço">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" name="rg" placeholder="RG">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" name="cpf" placeholder="CPF">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" name="descricao" placeholder="Descrição">
            </div>

            <div class="form-group">
              <label for="exampleInputFile">Incluir foto</label>
              <input type="file" name="foto">

            </div>

          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar informações</button>
          </div>
        </form>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>



<!--MODEL USUARIO-->

<div class="modal fade" id="modal-usuario">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Cadastrar novo Usuario</h4>
      </div>
      <div class="modal-body">

        <form role="form" method="POST" action="incluir-usuario/">
          {% csrf_token %}
          <div class="box-body">
            <div class="form-group">
              <input type="text" class="form-control" name="nome" placeholder="Nome do usuario">
            </div>

            <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Infomem um E-mail">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" name="senha" placeholder="Informe uma senha">
            </div>


          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar informações</button>
          </div>
        </form>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>



<!--MODEL CADASTRO DE IMOVEIS-->

<div class="modal fade" id="modal-imoveis">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Cadastrar novo Imovel</h4>
      </div>
      <div class="modal-body">

        <form role="form" method="POST" action="incluir-imovel/">
          {% csrf_token %}
          <div class="box-body">
            <div class="form-group">
              <input type="text" class="form-control" name="nome_responsavel" placeholder="Nome do usuario">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" name="celular_responsavel" placeholder="Informe o telefone">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" name="endereco" placeholder="Informe o endereço">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" name="cep" placeholder="Informe o cep">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="valor_compra" placeholder="Valor da compra">
              </div>

              <div class="form-group">
                  <input type="text" class="form-control" name="valor_aluguel" placeholder="Valor do aluguel">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="descricao_imovel" placeholder="Descrição do imovel">
                  </div>
  
            


          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar informações</button>
          </div>
        </form>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>



{% endblock %}