{% extends "sistema/base-sistema.html" %}

{% block conteudo-sistema %}

<section class="content-header">
  <h1>
    Sistema de Gestão Imobiliaria
    <small>Cadastro</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Cadastro</a></li>
    <li class="active">Clientes</li>
  </ol>
</section><br><br>

<div class="box">
  <div class="box-header">
    <div class="col-md-2"><button type="button" class="btn btn-block btn-success" data-toggle="modal"
        data-target="#modal-default">Incluir novo cliente</button></div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Endereço</th>
          <th>Bairro</th>
          <th>CEP</th>
          <th>Estado</th>
          <th>UF</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
      {% for cliente in clientes %}
        <tr>
        {% for key, values in cliente.items %}
          <td>{{ values }}</td>
        {% endfor %}
        
          <td>
            <a href="#"><i class="fa fa-pencil-square-o"></i></a>
            <a href="#" data-toggle="modal" data-target="#modal-exluir-cliente"><i class="fa fa-trash-o"></i></a>
          </td>
          </tr>
      
      {% endfor %}
          
        
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>



<!-- modal-cadastro de clientes -->
<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Incluir novo cliente</h4>
      </div>

      
      <form id="form-cliente" action="" method="POST">
        {% csrf_token %}
        <div class="modal-body">

          <fieldset>
            <legend>DADOS PESSOAIS</legend>
            <div class="col-md-8"><input name="nome" class="form-control" type="text" placeholder="Nome"></div>
            <div class="col-md-4"><input name="cpf" class="form-control" type="text" placeholder="CPF"></div>

          </fieldset>

          <fieldset style="margin-top: 20px;">
            <legend>ENREDEÇO</legend>
            <div class="col-md-7"><input name="endereco" class="form-control" type="text" placeholder="Lougradouro"></div>
            <div class="col-md-5"><input name="bairro" class="form-control" type="text" placeholder="Bairro"></div>
            <div class="col-md-3" style="margin-top: 10px;"><input name="cep" class="form-control" type="text" placeholder="CEP">
            </div>
            <div class="col-md-7" style="margin-top: 10px;"><input name="estado" class="form-control" type="text"
                placeholder="Estado"></div>
            <div class="col-md-2" style="margin-top: 10px;"><input name="uf" class="form-control" type="text" placeholder="UF">
            </div>
          </fieldset>

          <fieldset style="margin-top: 20px;">
            <legend>CONTATO</legend>
            <div class="col-md-8"><input name="email" class="form-control" type="text" placeholder="E-mail"></div>
            <div class="col-md-4"><input name="telefone" class="form-control" type="text" placeholder="Telefone"></div>
          </fieldset>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
          <button id="btn-cad-cliente" type="submit" class="btn btn-primary">Incluir</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- modal-excluir cliente -->
<div class="modal fade" id="modal-exluir-cliente">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Exluir cliente</h4>
      </div>
      <div class="modal-body">
        <p>Deseja realmente exluir o cliente Vejeta?&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Não</button>
        <button type="button" class="btn btn-primary">Sim</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


{% endblock %}